body {
    background-color: #424242;
    color: #fff;
    text-align: center;
}
.spoiler-content {
    display: inline-block;
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity 1s;
}
.spoiler-content.visible {
    display: inline;
    width: auto;
    height: auto;
    opacity: 1;
}